body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(245, 190, 198);
}

#nav {
    background-color: rgb(85, 237, 161);
    color: white;
    padding: 10px;
    text-align: center;
}

nav li {
  display: inline-block;
  position: relative;
  padding: 10px;
}

nav li:hover {
  background-color: palevioletred;
  color: white;
}

nav a {
  text-decoration: none;
  color: blue;
}

nav a:hover {
  background-color: black;
  color: white;
}

.searchButton {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.searchButton:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.searchBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#fruitInput {
    width: 300px;
    padding: 12px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

#fruitImage {
    width: 150px;
    margin-top: 10px;
}

#recentSearches {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

#recentSearches th,
#recentSearches td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}

#recentSearches th {
    background-color: #2d6a4f;
    color: white;
}

#recentSearches tr:hover {
    background-color: gold;
    transition: 0.2s;
}